<!-- Footer -->
{% load static %}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Dominate Pizza 2019</p>
    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src={% static "jquery/jquery.min.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.bundle.min.js"%}></script>
</footer>